* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

/* end of css reset */

iframe#video #document html body {
  height: 600px;
}

body {
  overflow-x: hidden;
}

#root {
  width: 100vw;
  min-height: 130vh;
  max-height: 180vh;

  background: rgb(214, 215, 217);
  background: -moz-radial-gradient(
    circle,
    rgba(214, 215, 217, 1) 10%,
    rgba(225, 243, 248, 1) 45%,
    rgba(16, 91, 216, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(214, 215, 217, 1) 10%,
    rgba(225, 243, 248, 1) 45%,
    rgba(16, 91, 216, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(214, 215, 217, 1) 10%,
    rgba(225, 243, 248, 1) 45%,
    rgba(16, 91, 216, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d6d7d9",endColorstr="#105bd8",GradientType=1);

  text-align: center;
  padding: 20px 0;
}

div.media {
  margin: 0 auto;
  width: auto;
  height: 600px;
  max-width: 900px;

  background-image: url("./images/nasa-logo-web-rgb.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  box-shadow: -10px 10px 90px #323a45;
}

#picture {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

#title {
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;

  color: #046b99;
}

#explanation {
  text-align: justify;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

form {
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

#video {
  border: none;
  position: absolute;
  left: 50vw;
  transform: translate(-50%, 0);
  width: 900px;
  height: 600px;

  z-index: 1000;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -0.1rem;
  font-size: 44px;

  color: #0b3d91;
  text-shadow: 1px 0.5px rgba(16, 91, 216, 1);
}

label {
  color: #061f4a;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;

  font-size: 18px;
}

input {
  margin: 20px 0 10px;
  font-size: 20px;
  color: #046b99;

  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
}

input:hover {
  background-color: #9bdaf1;
  border-radius: 8px;
}

div#exp {
  background-color: rgba(194, 207, 235, 0.2);
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 50px rgb(214, 215, 217, 0.8);
  max-width: 80vw;
  max-height: 60vh;
}
